[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
psycopg2 = "*"
psycopg2-binary = "*"
pandas = "*"
openai = "*"
psycopg = "*"
python-dotenv = "*"
timescale-vector = "*"
instructor = "*"
anthropic = "*"
ipykernel = "*"

[dev-packages]

[requires]
python_version = "3.12"
